<!DOCTYPE html>
<html>
<head>
  <title>Sample Angular App</title>
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="steven">

<div ng-controller="MainController">
   {{data}}
  <ul>
    <li ng-repeat="item in sampleArray track by $index">{{item}}</li>
  </ul>

<h3 ng-show="sampleArray.length > 4">Array is big</h3>
<h3 ng-hide="sampleArray.length > 4">Array is small</h3>

<button ng-click="removeSomething()">Click me to delete</button>
<button ng-click="addSomething()">or click me to add</button>


<div ng-repeat="item in redditArray">
  <h2 ng-bind="item.data.title"></h2>
  <img src="{{item.data.thumbnail}}">
  From {{item.data.author}}
  <a href="{{item.data.url}}">source</a>
  <a href="http://reddit.com{{item.data.permalink}}">reddit item</a>
  <a href="http://reddit.com/r/{{item.data.subreddit}}">{{item.data.subreddit}}</a>
</div>

</div>


</body>
</html>